<section class="about-section__background" id="made">
  <picture>
    <source srcset="./images/about/ab_bg-desk-1x.png 1x, ./images/about/ab_bg-desk-2x.png 2x"
      media="(min-width: 1280px)" />
    <source srcset="./images/about/ab_bg-mob-1x.png 1x, ./images/about/ab_bg-mob-2x.png 2x"
      media="(min-width: 320px)" />
    <img src="./images/about/ab_bg-desk-1x.png" alt="team2" class="about-section__bg-img" />
  </picture>
  <div class="container about-section">
    <p class="about-section__uptitle">tradition and love</p>
    <h2 class="about-section__title">how it’s made?</h2>

    <div class="about-section__wrapper">
      <picture class="about-section__photo">
        <source srcset="./images/about/ab1-desk-1x.png 1x, ./images/about/ab1-desk-2x.png 2x"
          media="(min-width: 1280px)" />
        <source srcset="./images/about/ab1-tab-1x.png 1x, ./images/about/ab1-tab-2x.png 2x"
          media="(min-width: 768px)" />
        <source srcset="./images/about/ab1-mob-1x.png 1x, ./images/about/ab1-mob-2x..png 2x"
          media="(min-width: 320px)" />

        <img src="./images/about/ab1-desk-1x.png" alt="team2" />
      </picture>

      <div class="about-section__text-wrapper">
        <p class="text-wrapper__title">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="text-wrapper__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="text-wrapper__under-text">Aliquam erat volutpat. Aenean accumsan.</p>
        <input type="checkbox" id="input-text" class="text-wrapper__input" hidden />
        <p class="text-wrapper__hidden-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ipsam ipsum recusandae
          asperiores tempora iusto minus et optio eius, non dolores consequatur autem laborum quo
          eligendi! Cumque velit eaque veritatis!
        </p>
        <label for="input-text">
          <span class="text-wrapper__open-btn">Read more
            <svg class="open-btn__arrow">
              <use href="./images/sprite.svg#vector-1"></use>
            </svg>
          </span>
          <span class="text-wrapper__close-btn">Roll up
            <svg class="close-btn__arrow">
              <use href="./images/sprite.svg#vector-1"></use>
            </svg>
          </span>
        </label>
      </div>
    </div>
  </div>
</section>