<section class="section-advantages">
  <div class="container advantages-container">
    <h2 class="visually-hidden">advantages</h2>
    <div class="advantages-wrap-list">
      <ul class="advantages-list">
        <li class="advantages__item">
          <p class="advantages-list__text--top advantages-list__text--before-a">721</p>
          <p class="advantages-list__text--bot">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__item">
          <p class="advantages-list__text--top advantages-list__text--before-b">16kg</p>
          <p class="advantages-list__text--bot">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__item">
          <p class="advantages-list__text--top advantages-list__text--before-c">84</p>
          <p class="advantages-list__text--bot">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
