<section class="contacts" id="contact">
    <div class="container contacts-section">
        <h2 class="visually-hidden contacts-section__title">contacts</h2>
        <ul class="list contacts-section__list">
            <li class="item contacts-list__item">
                <p class="contacts-list-item__title version1">
                    cafe
                </p>
                <div class="contacts-infocity">
                    <p class="contacts-infocity__name">Chicago</p>
                    <p class="contacts-infocity__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-worktime">
                    <div class="contacts-worktime__workday">
                        <p class="contacts-worktime__day">Monday - Friday</p>
                        <p class="contacts-worktime__time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-worktime__holyday">
                        <p class="contacts-worktime__day">Saturday - Sunday</p>
                        <p class="contacts-worktime__time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="contacts-info">
                    <a href="tel:+610383766284" class="contacts-info__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-info__mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="item contacts-list__item">
                <p class="contacts-list-item__title version2">
                    food truck
                </p>
                <div class="contacts-infocity">
                    <p class="contacts-infocity__name">Los Angeles</p>
                    <p class="contacts-infocity__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-worktime">
                    <div class="contacts-worktime__workday">
                        <p class="contacts-worktime__day">Monday - Friday</p>
                        <p class="contacts-worktime__time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-worktime__holyday">
                        <p class="contacts-worktime__day">Saturday - Sunday</p>
                        <p class="contacts-worktime__time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="info">
                    <a href="tel:+610383766284" class="contacts-info__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-info__mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="item contacts-list__item">
                <p class="contacts-list-item__title version3">
                    cafe
                </p>
                <div class="contacts-infocity">
                    <p class="contacts-infocity__name">New York</p>
                    <p class="contacts-infocity__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-worktime">
                    <div class="contacts-worktime__workday">
                        <p class="contacts-worktime__day">Monday - Friday</p>
                        <p class="contacts-worktime__time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-worktime__holyday">
                        <p class="contacts-worktime__day">Saturday - Sunday</p>
                        <p class="contacts-worktime__time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="info">
                    <a href="tel:+610383766284" class="contacts-info__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-info__mail">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <div class="contacts-btns">
            <button class="btnlocation contacts-section__btnlocation">
                Our Locations
                <svg class="btn__icon" width="10" height="10">
                    <use href="./images/sprite.svg#vector-1"></use>
                </svg>
            </button>
            <button class="btnfranchize contacts-section__btnfranchize our-location-open">
                Franchise
                <svg class="btn__icon" width="10" height="10">
                    <use href="./images/sprite.svg#vector-1"></use>
                </svg>
            </button>
        </div>

    </div>

    <!-----------------------------------------------modal --------------------------------->

    <div class="is-hidden our-location backdrop">
        <div class="our-location__modal">
            <button type="submit" class="our-location-close">
                <svg class="contacts-close">
                    <use href="./images/sprite.svg#icon-close_icon" width="15" height="15"></use>
                </svg>
            </button>
            <div class="modal-location">
                <p class="modal-loc-text">Our Location</p>
                <iframe class="contacts-maps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6659.772728998915!2d-117.61410638493697!3d33.42620684787254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e428d225041%3A0x3cd43303554b967c!2sMitchell&#39;s%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1637781091922!5m2!1sru!2sua"
                    width="260" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="is-hidden our-franchize backdrop">
        <div class="franchize__modal">
            <button type="submit" class="our-franchize-close">
                <svg class="contacts-close">
                    <use href="./images/sprite.svg#icon-close_icon" width="15" height="15"></use>
                </svg>
            </button>
            <div class="modal-franchize">
                <p class="modal-franchize-text">Leave us fedback</p>
                <!-- <form action="# " class="contacts-form-commit">
                <div class="franchize-modal-field">
                    <label class="franchize-modal-label" for="user-name">
                        Name
                        <span class="input-wrap"><input type="text" name="user-name" id="user-name" class="franchize-modal-input">
                            </span>
                    </label>
                </div>
                <div class="franchize-modal-field">
                    <label class="franchize-modal-label" for="user-tel">
                        Phone
                        <span class="input-wrap"><input type="tel" name="tel" id="user-tel" class="franchize-modal-input">
                            </span>
                    </label>
                </div>
                <div class="franchize-modal-field">
                    <label class="franchize-modal-label" for="user-email">
                        E-mail
                        <span class="input-wrap"><input type="email" name="user-email" id="user-email" class="franchize-modal-input">
                            </span>
                    </label>
                </div>
                <button class="franchize-modal-button" type="submit">Send</button>
            </form> -->
                <form class="form" autocomplete="off">

                    <div class="form-field">
                        <input type="text" class="form-input" name="name" id="text" placeholder=" ">
                        <label for="text" class="form-label">Name</label>
                        <svg class="form-icon">
                            <use href="./images/sprite.svg#icon-ice" width="18">
                                <use>
                        </svg>
                    </div>

                    <div class="form-field">
                        <input type="tel" class="form-input" name="name" id="tel" placeholder=" ">
                        <label for="tel" class="form-label">Telephone</label>
                        <svg class="form-icon">
                            <use href="./images/sprite.svg#icon-ice" width="18">
                                <use>
                        </svg>
                    </div>

                    <div class="form-field">
                        <input type="email" class="form-input" name="name" id="email" placeholder=" ">
                        <label for="email" class="form-label">Email</label>
                        <svg class="form-icon">
                            <use href="./images/sprite.svg#icon-ice" width="18">
                                <use>
                        </svg>
                    </div>
                    <button class="franchize-modal-button" type="submit">Send</button>
                </form>

            </div>
        </div>
    </div>
</section>