<section class="contacts">
    <div class="container contacts-section">
        <h2 class="visually-hidden contacts-section__title">contacts</h2>
        <ul class="list contacts-section__list">
            <li class="item contacts-list__item">
                <p class="contacts-list-item__title version1">
                    cafe
                </p>
                <div class="contacts-infocity">
                    <p class="contacts-infocity__name">Chicago</p>
                    <p class="contacts-infocity__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-worktime">
                    <div class="contacts-worktime__workday">
                        <p class="contacts-worktime__day">Monday - Friday</p>
                        <p class="contacts-worktime__time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-worktime__holyday">
                        <p class="contacts-worktime__day">Saturday - Sunday</p>
                        <p class="contacts-worktime__time">08:00 AM - 16:00 PM</p>
                    </div> 
                </div>
                <div class="contacts-info">
                    <a href="tel:+610383766284" class="contacts-info__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-info__mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="item contacts-list__item">
                <p class="contacts-list-item__title version2">
                    food truck
                </p>
                <div class="contacts-infocity">
                    <p class="contacts-infocity__name">Los Angeles</p>
                    <p class="contacts-infocity__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-worktime">
                    <div class="contacts-worktime__workday">
                        <p class="contacts-worktime__day">Monday - Friday</p>
                        <p class="contacts-worktime__time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-worktime__holyday">
                        <p class="contacts-worktime__day">Saturday - Sunday</p>
                        <p class="contacts-worktime__time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="info">
                    <a href="tel:+610383766284" class="contacts-info__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-info__mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="item contacts-list__item">
                <p class="contacts-list-item__title version3">
                    cafe
                </p>
                <div class="contacts-infocity">
                    <p class="contacts-infocity__name">New York</p>
                    <p class="contacts-infocity__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-worktime">
                    <div class="contacts-worktime__workday">
                        <p class="contacts-worktime__day">Monday - Friday</p>
                        <p class="contacts-worktime__time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-worktime__holyday">
                        <p class="contacts-worktime__day">Saturday - Sunday</p>
                        <p class="contacts-worktime__time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="info">
                    <a href="tel:+610383766284" class="contacts-info__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-info__mail">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <div class="contacts-btns">
            <button class="btnlocation contacts-section__btnlocation">
                Our Locations
                <svg class="btn__icon" width="10" height="10">
                    <use  href="./images/sprite.svg#vector-1"></use>
                </svg>
            </button>
            <button class="btnfranchize contacts-section__btnfranchize">
                Franchise
                <svg class="btn__icon" width="10" height="10">
                    <use href="./images/sprite.svg#vector-1"></use>
                </svg>
            </button>
        </div>
        
    </div>
</section>