<section class="section-contacts">
    <div class="container contacts">
        <h2 class="contacts__title visually-hidden">contacts</h2>
        <ul class="contacts__list list">
            <li class="item">
                <p class="item__title">
                    cafe
                </p>
                <div class="infocity">
                    <p class="infocity__name">Chicago</p>
                    <p class="infocity_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="worktime">
                    <p class="worktime__day">Monday - Friday</p>
                    <p class="worktime__time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="info">
                    <a href="tel:+610383766284" class="info__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="info__mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="item">
                <p class="item__title">
                    food truck
                </p>
                <div class="infocity">
                    <p class="infocity__name">Los Angeles</p>
                    <p class="infocity_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="worktime">
                    <p class="worktime__day">Monday - Friday</p>
                    <p class="worktime__time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="info">
                    <a href="tel:+610383766284" class="info__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="info__mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="item">
                <p class="item__title">
                    cafe
                </p>
                <div class="infocity">
                    <p class="infocity__name">New York</p>
                    <p class="infocity_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="worktime">
                    <p class="worktime__day">Monday - Friday</p>
                    <p class="worktime__time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="info">
                    <a href="tel:+610383766284" class="info__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="info__mail">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <button class="btnlocation">
            Our Locations
            <svg class="btn__icon" width="10" height="10">
                <use  href="./images/sprite.svg#vector-1"></use>
            </svg>
        </button>
        <button class="btnfranchize">
            Franchise
            <svg class="btn__icon" width="10" height="10">
                <use href="./images/sprite.svg#vector-1"></use>
            </svg>
        </button>
    </div>
</section>