<section class="section-customer-reviews" id="about">
  <div class="container container-customer-reviews">
    <h2 class="visually-hidden">customer reviews</h2>

    <div class="swiper mySwiper ">
      <div class="swiper-wrapper ">
        <div class="swiper-slide ">
          <div class="swiper-slide__block">
            <div class="swiper-slide__wrap">
              <span class="swiper-slide__img"></span>
            </div>
            <div class="swiper-slide__discription">
              <p class="swiper-slide__discription-text">I like traveling very much. My every journey begins with a
                photo like this. So this site is definitely for me.</p>
            </div>
            <div class="swiper-slide__point"></div>
            <p class="swiper-slide__text">Yana Yegorina</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__block">
            <div class="swiper-slide__wrap">
              <span class="swiper-slide__img swiper-slide__img2"></span>
            </div>
            <div class="swiper-slide__discription">
              <p class="swiper-slide__discription-text">The ice cream was just awful. So I thought about buying a
                franchise, because people love such nasty things.</p>
            </div>
            <div class="swiper-slide__point"></div>
            <p class="swiper-slide__text">Vladislav Korsun</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__block">
            <div class="swiper-slide__wrap">
              <span class="swiper-slide__img swiper-slide__img3"></span>
            </div>
            <div class="swiper-slide__discription">
              <p class="swiper-slide__discription-text">I'm not a big fan of ice cream, but on a hot summer day this is
                a great way to cool off.</p>
            </div>
            <div class="swiper-slide__point"></div>
            <p class="swiper-slide__text">Roman Gavriluk</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__block">
            <div class="swiper-slide__wrap">
              <span class="swiper-slide__img swiper-slide__img4"></span>
            </div>
            <div class="swiper-slide__discription">
              <p class="swiper-slide__discription-text">The composition of ice cream helps to increase the happiness
                hormone serotonin in the body. It improves memory, cheers
                up and helps us cope with stress.</p>
            </div>
            <div class="swiper-slide__point"></div>
            <p class="swiper-slide__text">Yevhenii Mancchuk</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__block">
            <div class="swiper-slide__wrap">
              <span class="swiper-slide__img swiper-slide__img5"></span>
            </div>
            <div class="swiper-slide__discription">
              <p class="swiper-slide__discription-text">At my will, at my behest. Delivered ice cream even to the ends
                of the world.</p>
            </div>
            <div class="swiper-slide__point"></div>
            <p class="swiper-slide__text">Evgen Opanasenko</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__block">
            <div class="swiper-slide__wrap">
              <span class="swiper-slide__img swiper-slide__img6"></span>
            </div>
            <div class="swiper-slide__discription">
              <p class="swiper-slide__discription-text">...</p>
            </div>
            <div class="swiper-slide__point"></div>
            <p class="swiper-slide__text">Vladislav Filin</p>
          </div>
        </div>


      </div>
      <div id="pagination" class="swiper-pagination"></div>
    </div>


  </div>

</section>