<section class="section-customer-reviews">
  <div class="container container-customer-reviews">


    <div class="swiper mySwiper ">
      <div class="swiper-wrapper ">
        <div class="swiper-slide ">
          <div class="swiper-slide__block">
            <div class="swiper-slide__wrap">
              <span class="swiper-slide__img"></span>
            </div>
            <div class="swiper-slide__discription">
              <p class="swiper-slide__discription-text">Nullam viverra consectetuer. Quisque cursus
                et,
                porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="swiper-slide__point"></div>
            <p class="swiper-slide__text">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__block">
            <div class="swiper-slide__wrap">
              <span class="swiper-slide__img swiper-slide__img2"></span>
            </div>
            <div class="swiper-slide__discription">
              <p class="swiper-slide__discription-text">Nullam viverra consectetuer. Quisque cursus
                et,
                porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="swiper-slide__point"></div>
            <p class="swiper-slide__text">Carroline, Malibu</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__block">
            <div class="swiper-slide__wrap">
              <span class="swiper-slide__img swiper-slide__img3"></span>
            </div>
            <div class="swiper-slide__discription">
              <p class="swiper-slide__discription-text">Nullam viverra consectetuer. Quisque cursus
                et,
                porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="swiper-slide__point"></div>
            <p class="swiper-slide__text">Sarah, Hawai</p>
          </div>
        </div>
      </div>
      <div id="pagination" class="swiper-pagination"></div>
    </div>


  </div>

</section>