<footer class="footer">
    <div class="container">
        <div class="footer_block">
            <div class="footer-all_text">
                <p class="footer_text">homemade ice cream made</p>
                <p class="footer_title">with passion</p>
            </div>
            <div>
                <ul class="footer_list">
                    <li class="foter-list_item">
                        <a href="" class="footer-list_link">
                            <svg class="footer_svg-githab">
                                <use href="./images/sprite.svg#icon-git"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="foter-list_item">
                        <a href="" class="footer-list_link">
                            <svg class="footer_svg-telegram">
                                <use href="./images/sprite.svg#icon-telega"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="foter-list_item">
                        <a href="" class="footer-list_link">
                            <svg class="footer_svg-facebook">
                                <use href="./images/sprite.svg#icon-fbook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer-contact">
                    <p class="footer-contact_text">Feel free to contact <a href="tel:+610383766284"
                            class="footer-contact_tel">+61 (0) 383 766 284</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="container footer-protection-block">
        <p class="footer-protection_text">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>