<section class="section-gallery">
  <div class="container header-container">
    <h2 class="gallery-title visually-hidden">gallery</h2>
    <div class="gallary__wrap">
      <div class="gallery__column gallery__column--a">
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img"
              src="../../../../Images_start/Project-com1/MOB-1X/1m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--b">
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img gallery__img--top"
              src="../../../../Images_start/Project-com1/MOB-1X/1m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img"
              src="../../../../Images_start/Project-com1/MOB-1X/1m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--c">
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img gallery__img--top"
              src="../../../../Images_start/Project-com1/MOB-1X/4m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img"
              src="../../../../Images_start/Project-com1/MOB-1X/1m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--d">
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img gallery__img--top"
              src="../../../../Images_start/Project-com1/MOB-1X/1m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img"
              src="../../../../Images_start/Project-com1/MOB-1X/1m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--e">
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img gallery__img--top"
              src="../../../../Images_start/Project-com1/MOB-1X/1m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img gallery__img--top"
              src="../../../../Images_start/Project-com1/MOB-1X/1m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--f">
        <div class="gallery__item">
          <picture>
            <img
              class="gallery__img"
              src="../../../../Images_start/Project-com1/MOB-1X/1m-X1.png"
              alt="мороженное"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
