<section class="section-gallery">
  <div class="container header-container">
    <h2 class="gallery-title visually-hidden">gallery</h2>
    <div class="gallary__wrap">
      <div class="gallery__column gallery__column--a">
        <div class="gallery__item">
          <picture>
            <source srcset="./images/gallery/desc-1x/1d-x1.png 1x, ./images/gallery/desc-1x/1d-x1.png 2x"
              media="(min-width: 1280px)" />
            <source srcset="./images/gallery/tab-1x/1t-x1.png 1x, ./images/gallery/tab-2x/1t-x2.png 2x"
              media="(min-width: 768px)" />
            <source srcset="./images/gallery/mob-1x/1m-x1.png 1x, ./images/gallery/mob-2x/1m-x2.png 2x"
              media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/1d-x1.png" alt="ice cream in cup" />
          </picture>
        </div>
      </div>
      <!-- <div class="gallery__column gallery__column--b">
        <div class="gallery__item gallery__item--top">
          <picture>
            <source srcset="
                ./images/gallery/desc-1x/2d-x1.png 1x,
                ./images/gallery/desc-2x/2d-x2.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./images/gallery/tab-1x/2t-x1.png 1x,
                ./images/gallery/tab-2x/2t-x2.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/gallery/mob-1x/2m-x1.png 1x,
                ./images/gallery/mob-2x/2m-x2.png 2x
              " media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/2d-x1.png" alt="ice cream" />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <source srcset="
                ./images/gallery/desc-1x/3d-x1.png 1x,
                ./images/gallery/desc-2x/3d-x2.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./images/gallery/tab-1x/3t-x1.png 1x,
                ./images/gallery/tab-2x/3t-x2.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/gallery/mob-1x/3m-x1.png 1x,
                ./images/gallery/mob-2x/3m-x2.png 2x
              " media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/3d-x1.png" alt="ice cream" />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--c">
        <div class="gallery__item gallery__item--top">
          <picture>
            <source srcset="
                ./images/gallery/desc-1x/4d-x1.png 1x,
                ./images/gallery/desc-2x/4d-x2.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./images/gallery/tab-1x/4t-x1.png 1x,
                ./images/gallery/tab-2x/4t-x2.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/gallery/mob-1x/4m-x1.png 1x,
                ./images/gallery/mob-2x/4m-x2.png 2x
              " media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/4d-x1.png" alt="
a lot of ice cream" />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <source srcset="
                ./images/gallery/desc-1x/5d-x1.png 1x,
                ./images/gallery/desc-2x/5d-x2.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./images/gallery/tab-1x/5t-x1.png 1x,
                ./images/gallery/tab-2x/5t-x2.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/gallery/mob-1x/5m-x1.png 1x,
                ./images/gallery/mob-2x/5m-x2.png 2x
              " media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/5d-x1.png" alt="girl with ice cream" />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--d">
        <div class="gallery__item gallery__item--top">
          <picture>
            <source srcset="
                ./images/gallery/desc-1x/6d-x1.png 1x,
                ./images/gallery/desc-2x/6d-x2.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./images/gallery/tab-1x/6t-x1.png 1x,
                ./images/gallery/tab-2x/6t-x2.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/gallery/mob-1x/6m-x1.png 1x,
                ./images/gallery/mob-2x/6m-x2.png 2x
              " media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/6d-x1.png" alt="ice cream in cup" />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <source srcset="
                ./images/gallery/desc-1x/7d-x1.png 1x,
                ./images/gallery/desc-2x/7d-x2.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./images/gallery/tab-1x/7t-x1.png 1x,
                ./images/gallery/tab-2x/7t-x2.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/gallery/mob-1x/7m-x1.png 1x,
                ./images/gallery/mob-2x/7m-x2.png 2x
              " media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/7d-x1.png" alt="ice cream" />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--e">
        <div class="gallery__item gallery__item--top">
          <picture>
            <source srcset="
                ./images/gallery/desc-1x/8d-x1.png 1x,
                ./images/gallery/desc-2x/8d-x2.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./images/gallery/tab-1x/8t-x1.png 1x,
                ./images/gallery/tab-2x/8t-x2.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/gallery/mob-1x/8m-x1.png 1x,
                ./images/gallery/mob-2x/8m-x2.png 2x
              " media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/8d-x1.png" alt="dog eat ice cream" />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <source srcset="
                ./images/gallery/desc-1x/9d-x1.png 1x,
                ./images/gallery/desc-2x/9d-x2.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./images/gallery/tab-1x/9t-x1.png 1x,
                ./images/gallery/tab-2x/9t-x2.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/gallery/mob-1x/9m-x1.png 1x,
                ./images/gallery/mob-2x/9m-x2.png 2x
              " media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/9d-x1.png" alt="ice cream coffee" />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--f">
        <div class="gallery__item">
          <picture>
            <source srcset="
                ./images/gallery/desc-1x/10d-x1.png 1x,
                ./images/gallery/desc-2x/10d-x2.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./images/gallery/tab-1x/10t-x1.png 1x,
                ./images/gallery/tab-2x/10t-x2.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./images/gallery/mob-1x/10m-x1.png 1x,
                ./images/gallery/mob-2x/10m-x2.png 2x
              " media="(min-width: 320px)" />
            <img class="gallery__img" src=" ./images/gallery/desc-1x/10d-x1.png" alt="ice cream in cup" />
          </picture>
        </div>
      </div>
    </div> -->
    </div>
</section>