<section class="section-gallery">
  <div class="container header-container">
    <h2 class="gallery-title visually-hidden">gallery</h2>
    <div class="gallary__wrap">
      <div class="gallery__column gallery__column--a">
        <div class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/1desc_x1.png 1x,
                ./images/gallery/desc-2x/1desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/1tab_x1.png 1x,
                ./images/gallery/tab-2x/1tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/1tab_x2.png 1x,
                ./images/gallery/bigmob-2x/1tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/1desc_x1.png"
              alt="ice cream in cup"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--b">
        <div class="gallery__item gallery__item--top">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/2desc_x1.png 1x,
                ./images/gallery/desc-2x/2desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/2tab_x1.png 1x,
                ./images/gallery/tab-2x/2tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/2tab_x2.png 1x,
                ./images/gallery/bigmob-2x/2tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/2desc_x1.png"
              alt="ice cream"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/3dtsc_x1.png 1x,
                ./images/gallery/desc-2x/3desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/3tab_x1.png 1x,
                ./images/gallery/tab-2x/3tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/3tab_x2.png 1x,
                ./images/gallery/bigmob-2x/3tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/3dtsc_x1.png"
              alt="ice cream"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--c">
        <div class="gallery__item gallery__item--top">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/4desc_x1.png 1x,
                ./images/gallery/desc-2x/4desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/4tab_x1.png 1x,
                ./images/gallery/tab-2x/4tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/4tab_x2.png 1x,
                ./images/gallery/bigmob-2x/4tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/4desc_x1.png"
              alt="
a lot of ice cream"
            />
          </picture>
        </div>
        <div class="gallery__item gallery__item--small">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/5desc_x1.png 1x,
                ./images/gallery/desc-2x/5desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/5tab_x1.png 1x,
                ./images/gallery/tab-2x/5tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/5tab_x2.png 1x,
                ./images/gallery/bigmob-2x/5tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/5desc_x1.png"
              alt="girl with ice cream"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--d">
        <div class="gallery__item gallery__item--top">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/6desc_x1.png 1x,
                ./images/gallery/desc-2x/6desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/6tab_x1.png 1x,
                ./images/gallery/tab-2x/6tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/6tab_x2.png 1x,
                ./images/gallery/bigmob-2x/6tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/6desc_x1.png"
              alt="ice cream in cup"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/7desc_x1.png 1x,
                ./images/gallery/desc-2x/7desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/7tab_x1.png 1x,
                ./images/gallery/tab-2x/7tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/7tab_x2.png 1x,
                ./images/gallery/bigmob-2x/7tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/7desc_x1.png"
              alt="ice cream"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--e">
        <div class="gallery__item gallery__item--top">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/8desc_x1.png 1x,
                ./images/gallery/desc-2x/8desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/8tab_x1.png 1x,
                ./images/gallery/tab-2x/8tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/8tab_x2.png 1x,
                ./images/gallery/bigmob-2x/8tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/8desc_x1.png"
              alt="dog eat ice cream"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/9desc_x1.png 1x,
                ./images/gallery/desc-2x/9desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/9tab_x1.png 1x,
                ./images/gallery/tab-2x/9tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/9tab_x2.png 1x,
                ./images/gallery/bigmob-2x/9tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/9desc_x1.png"
              alt="ice cream coffee"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column--f">
        <div class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery/desc-1x/10desc_x1.png 1x,
                ./images/gallery/desc-2x/10desc_x2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tab-1x/10tab_x1.png 1x,
                ./images/gallery/tab-2x/10tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/bigmob-1x/10tab_x2.png 1x,
                ./images/gallery/bigmob-2x/10tab_x2.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery__img"
              src=" ./images/gallery/desc-1x/10desc_x1.png"
              alt="ice cream in cup"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
