<header class="header" id="home">
    <div class="container header-wraper">
        <picture class="logo">
            <source srcset="./images/logo/logo-desks-1x.png 1x,
                            ./images/logo/logo-desk-2x.png 2x" media="(min-width: 1280px)">
            <source srcset="./images/logo/logo-tab-1x.png 1x,
                            ./images/logo/logo-tab-2x.png 2x" media="(min-width: 768px)">
            <source srcset="./images/logo/logo-mob-1x.png 1x,
                            ./images/logo/logo-mob-2x.png 2x" media="(min-width: 480px)">
            <img src="./images/logo/logo-mob-1x.png" alt="logo foto">
        </picture>

        <ul class="nav">
            <li class="nav__item">
                <a class="nav__link" href="#home">Home</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#about">About us</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#made">How it’s made?</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#products">Our products</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#contact">Contact</a>
            </li>
        </ul>

        <button class="burger-btn-open menu-toggle js-open-menu" type="button">
            <svg class="burger-btn-open__icon" width="27" height="18">
                <use href="./images/sprite.svg#icon-Burger"></use>
            </svg>
        </button>
        <button class="buy-btn-header buy-modal-open" type="button">Buy now
            <svg class="buy-btn-header__icon" width="10" height="10">
                <use href="./images/sprite.svg#vector-1"></use>
            </svg>
        </button>
        <div class="header-backdrop">
            <div class="burger-menu  menu-container js-menu-container" id="mobile-menu">
                <div class="burger-menu__top">
                    <button class="burger-btn-close menu-toggle js-close-menu" type="button">
                        <svg class="burger-btn-close__icon" width="14" height="14">
                            <use href="./images/sprite.svg#icon-close"></use>
                        </svg>
                    </button>

                    <button class="buy-btn-burger" type="button">Buy now
                        <svg class="buy-btn-burger__icon" width="8" height="10">
                            <use href="./images/sprite.svg#vector-1"></use>
                        </svg>
                    </button>
                </div>
                <div class="burger-menu__bottom">
                    <ul class="burger-menu__list">
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="#home">Home</a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="#about">About us</a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="#made">How it’s made?</a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="#products">Our products</a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="is-hidden buy-now-modal backdrop-byu">
            <div class="buy__modal">
                <button type="submit" class="buy-modal-close">
                    <svg class="contacts-close">
                        <use href="./images/sprite.svg#icon-close_icon" width="15" height="15"></use>
                    </svg>
                </button>
                <div class="modal-buy">
                    <p class="modal-buy-text">Your order</p>
                    <form class="form-buynow" autocomplete="off">

                        <div class="form-field-buynow">
                            <label for="product" class=" form-label-buynowX">Choose product</label>
                            <select class="form-input-buynow" id="product" name="product">
                                <option value="" selected> </option>
                                <option value="IceCream">IceCream</option>
                                <option value="IceCoffee">IceCoffee</option>
                                <option value="Milkshake">Milkshake</option>
                                <option value="All">All</option>
                            </select>
                            <svg class="form-icon-buynow">
                                <use href="./images/sprite.svg#icon-ice" width="18">
                                    <use>
                            </svg>
                        </div>

                        <div class="form-field-buynow">
                            <input type="number" class="form-input-buynow" name="number" id="number" placeholder=" ">
                            <label for="number" class="form-label-buynowX">Number of units</label>
                            <svg class="form-icon-buynow">
                                <use href="./images/sprite.svg#icon-ice" width="18">
                                    <use>
                            </svg>
                        </div>

                        <div class="form-field-buynow">
                            <input type="time" class="form-input-buynow" name="time" id="time" placeholder=" ">
                            <label for="time" class="form-label-buynow">Time of delivery</label>
                            <svg class="form-icon-buynow">
                                <use href="./images/sprite.svg#icon-ice" width="18">
                                    <use>
                            </svg>
                        </div>

                        <div class="form-field-buynow">
                            <input type="text" class="form-input-buynow" name="name" id="text" placeholder=" ">
                            <label for="text" class="form-label-buynow">Name</label>
                            <svg class="form-icon-buynow">
                                <use href="./images/sprite.svg#icon-ice" width="18">
                                    <use>
                            </svg>
                        </div>

                        <div class="form-field-buynow">
                            <input type="tel" class="form-input-buynow" name="name" id="tel" placeholder=" ">
                            <label for="tel" class="form-label-buynow">Telephone</label>
                            <svg class="form-icon-buynow">
                                <use href="./images/sprite.svg#icon-ice" width="18">
                                    <use>
                            </svg>
                        </div>

                        <button class="buynow-modal-button" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>