<section class="hero">
    <div class="container wraper">
        <div class="title-btn-wraper">
            <h1 class="hero-title">ice cream made with <span class="hero-title__accent">passion</span></h1>
            <a href="#products" style="color: var(--button-bg-main)"><button class="hero-products-btn"
                    type="button">Products</button></a>
            <button class="hero-made-btn" type="button"><a href="#made" style="color: var(--hero-red-text)">How it’s
                    made?</a></button>
        </div>
        <div class="ice-cream-container">
            <picture class="ice-cream">
                <source srcset="./images/header/img3-desk-1x.png 1x,
                                ./images/header/img3-desk-2x.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/header/img3-tab-1x.png 1x,
                                ./images/header/img3-tab-2x.png 2x" media="(min-width: 768px)">
                <source srcset="./images/header/img3-mob-1x.png 1x,
                                 ./images/header/img3-mob-2x.png 2x" media="(min-width: 480px)">
                <img src="./images/header/img3-mob-1x.png" alt="ice cream foto">
            </picture>
        </div>
        <ul class="about-us__list">
            <li class="about-us__item">16
                <p class="about-us__description">cafes</p>
            </li>
            <li class="about-us__item">23
                <p class="about-us__description">food trucks</p>
            </li>
        </ul>
        <div class="jug-milk">
            <picture class="jug-milk__img">
                <source srcset="./images/header/img1-desk-1x.png 1x,
                                ./images/header/img1-desk-2x.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/header/img1-tab-1x.png 1x,
                                ./images/header/img1-tab-2x.png 2x" media="(min-width: 768px)">
                <img src="./images/header/img1-tab-1x.png" alt="girl with ice cream ">
            </picture>
            <div class="jug-milk__wraper">
                <p class="jug-milk__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
                <button class="jug-milk__btn" type="submit">
                    <svg class="jug-milk__icon" width="8" height="8">
                        <use href="./images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
        <picture class="girl-img-container">
            <source srcset="./images/header/img2-desk-1x.png 1x,
                            ./images/header/img2-desk-2x.png 2x" media="(min-width: 1280px)">
            <source srcset="./images/header/img2-tab-1x.png 1x,
                            ./images/header/img2-tab-2x.png 2x" media="(min-width: 768px)">
            <img src="./images/header/img2-tab-1x.png" alt="girl with ice cream ">
        </picture>
    </div>
</section>