<section class="products ">
    <div class="container products-section">
        <p class="products__text products-section__text">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list list">
            <li class="item">
                <h3 class="item__title">
                    ice cream
                </h3>
                <span class="item__point"></span>
                <p class="item__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, maiores rem id minima facere autem harum? Nemo laboriosam odit dolor fuga doloremque repellat labore, veniam cupiditate, quaerat corporis, esse dolores!
                </p>
                <button class="btn">
                    <svg class="btn__icon" width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="item">
                <h3 class="item__title">
                    ice coffee
                </h3>
                <span class="item__point"></span>
                <p class="item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae perspiciatis pariatur, excepturi tempore magnam, dolorum laborum quidem deleniti perferendis dolores voluptatem quo iure sunt, reprehenderit inventore modi explicabo laboriosam quae?
                </p>
                <button class="btn">
                    <svg class="btn__icon" width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="item">
                <h3 class="item__title">
                    milkshakes
                </h3>
                <span class="item__point"></span>
                <p class="item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.
                </p>
                <button class="btn">
                    <svg class="btn__icon" width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>