<section class="products" id="products">
    <div class="container products-section">
        <p class="products-section__text">100% natural</p>
        <h2 class="products-title">products</h2>
        <ul class="list products-list">
            <li class="item products-list__item flex-element">
                <div class="project-top-wrap">
                    <h3 class="products-list-item__title">
                        ice cream
                    </h3>
                    <span class="products-list-item__point"></span>
                    <p class="products-list-item__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna
                        aliqua facilisis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, maiores rem
                        id minima facere autem harum? Nemo laboriosam odit dolor fuga doloremque repellat labore, veniam
                        cupiditate, quaerat corporis, esse dolores!
                    </p>
                    <button class="products-list-item__btn1">
                        <svg class="products-list-item-btn__icon" width="10" height="10">
                            <use href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                    <div class="description-text content_block1">
                        <ul class="products_ingridients">
                            <li>Milk</li>
                            <li>Cream</li>
                            <li>Sugar</li>
                            <li>Water</li>
                            <li>Waffle cup</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="item products-list__item flex-element">
                <div class="project-top-wrap">
                    <h3 class="products-list-item__title">
                        ice coffee
                    </h3>
                    <span class="products-list-item__point"></span>
                    <p class="products-list-item__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna
                        aliqua facilisis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae perspiciatis
                        pariatur, excepturi tempore magnam, dolorum laborum quidem deleniti perferendis dolores
                        voluptatem quo iure sunt, reprehenderit inventore modi explicabo laboriosam quae?
                    </p>
                    <button class="products-list-item__btn2">
                        <svg class="products-list-item-btn__icon" width="10" height="10">
                            <use href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                    <div class="description-text content_block2">
                        <ul class="products_ingridients">
                            <li>Coffee</li>
                            <li>Water</li>
                            <li>Milk</li>
                            <li>Ice cubes</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="item products-list__item flex-element">
                <div class="project-top-wrap">
                    <h3 class="products-list-item__title">
                        milkshakes
                    </h3>
                    <span class="products-list-item__point"></span>
                    <p class="products-list-item__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <button class="products-list-item__btn3 btn_hover">
                        <svg class="products-list-item-btn__icon" width="10" height="10">
                            <use href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                    <div class="description-text content_block3">
                        <ul class="products_ingridients">
                            <li>Milk</li>
                            <li>IceCream</li>
                            <li>Berries/Chocolate</li>
                            <li>Ice cubes</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>