.section-header {
    padding-top: 0;
    padding-bottom: 0;
}

.section-products {
    padding-top: 120px;
    padding-bottom: 100px;
    @media screen and (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 110px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 130px;
        padding-bottom: 120px;
    }
}

.section-about {
    padding-top: 125px;
    padding-bottom: 50px;
    @media screen and (min-width: 768px) {
        padding-top: 130px;
        padding-bottom: 70px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 125px; 
        padding-bottom: 70px;     
  }
}

.section-gallery {
    padding-top: 50px;
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
        padding-top: 70px;
        padding-bottom: 60px;
    }
}

.section-customer-reviews {
    padding-top: 40px;
    padding-bottom: 45px;
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 65px;
    }
}

.section-contacts {
    padding-top: 45px;
    padding-bottom: 55px;
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 65px;
        padding-bottom: 80px;
    }
}
.section-footer {
    padding-top: 55px;
    padding-bottom: 0px;
    @media screen and (min-width: 768px) {
        padding-top: 80px;
    }
}




