.about-section {
  padding-top: 125px;
  padding-bottom: 20px;
  background-color: var(--second-bg);
  position: relative;
  @media screen and(min-width:768px) {
    padding-top: 130px;
    padding-bottom: 33px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 125px;
    padding-bottom: 20px;
  }
}
.background-img {
  position: absolute;
  top: 529px;
  left: 0;
  width: 320px;
  width: 100%;
  @media screen and(min-width:1280px) {
    top: 342px;
  }
}
.bg-img {
  width: 100%;
  display: block;
  z-index: 0;
  @media screen and(min-width:768px) {
    display: none;
  }
  @media screen and(min-width:1280px) {
    display: block;
    width: 1282px;
  }
}
.about-section__uptitle {
  font-family: Titan One;
  color: var(--about-pink-text);
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  @media screen and(min-width:768px) {
    font-size: 26px;
    line-height: 1.15;
  }
}
.about-section__title {
  font-family: Titan One;
  color: var(--about-red-text);
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 26px;
  @media screen and(min-width:768px) {
    font-size: 48px;
    margin-bottom: 50px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 55px;
  }
}
.about-photo {
  margin-bottom: 46px;
  @media screen and(min-width:768px) {
    margin-bottom: 0;
    margin-right: 17px;
  }
  @media screen and(min-width:1280px) {
    margin-right: 74px;
  }
}
.about-section__wrapper {
  @media screen and(min-width:768px) {
    display: flex;
  }
}

.about-section__text-wrapper {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
  position: relative;
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 340px;
  }
  @media screen and(min-width:1280px) {
    width: 463px;
  }
}
.text-wrapper__title {
  color: var(--about-black-text);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  margin-bottom: 47px;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
  }
}
.text-wrapper__text {
  color: var(--about-grey-text);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  margin-bottom: 17px;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and(min-width:1280px) {
    line-height: 1.94;
  }
}

// Выпадашка
.text-wrapper__hidden-text {
  display: none;
  color: var(--about-grey-text);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  margin-bottom: 17px;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and(min-width:1280px) {
    line-height: 1.94;
  }
}
.text-wrapper__open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--about-red-text);
}
.text-wrapper__open-btn:hover,
.text-wrapper__open-btn:focus {
  background-color: var(--button-bg-hover);
}

.text-wrapper__close-btn {
  display: none;

  margin: 0 auto;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--about-red-text);
}
.text-wrapper__close-btn:hover,
.text-wrapper__close-btn:focus {
  background-color: var(--button-bg-hover);
}
.text-wrapper__input {
  &:checked + {
    .text-wrapper__hidden-text {
      display: block;

      background-color: var(--second-bg);
    }
  }
}
.text-wrapper__input {
  &:checked ~ label .text-wrapper__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.text-wrapper__input {
  &:checked ~ label {
    .text-wrapper__open-btn {
      display: none;
    }
  }
}
.open-btn__arrow {
  width: 10px;
  height: 15px;
  margin-left: 10px;
  stroke: var(--about-red-text);
}
.close-btn__arrow {
  width: 10px;
  height: 15px;
  margin-left: 10px;
  stroke: var(--about-red-text);
  transform: rotate(270deg);
  transition: transform 250ms ease;
}
