.section-advantages {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: var(--second-bg);
}

.advantages-list {
  margin-bottom: -38px;

  .advantages__item {
    margin-bottom: 38px;
  }
}
.advantages-list__text--top {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--hero-red-text);
  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}
.advantages-list__text--bot {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--advantages-black-text);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.74;
  }
}
