.section-contacts {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30%, rgba(255, 245, 246, 1) 30%);
}

.contacts {
    padding-top: 43px;
    padding-bottom: 56px;
}

.contacts {
    .item {
        padding-top: 43px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 43px;
        background: var(--contacts-white-text);
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        margin-bottom: 20px;
    }

    .item__title {
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        font-family: DM Sans;
        font-weight: 500;
        font-size: 12px;
        line-height: calc(22 / 12);
        letter-spacing: 0.04em;
        color: var(--contacts-white-text);
        background-color: var(--contacts-cafe-bg);
        border-radius: 4px;
        text-transform: uppercase;
        vertical-align: middle;
    }

    .btn__icon {
        stroke: white;
    }
}

.infocity {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 25px;
}

.infocity__name {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22 / 12);
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 10px;
}

.infocity_text {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(18/ 12);
    color: var(--contacts-grey-text);
}

.worktime {
    margin-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 25px;
}

.worktime__day {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22 / 12);
    letter-spacing: 0.04em;
    color: var(--contacts-black-text);
}

.worktime__time {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22 / 12);
    color: var(--contacts-pink-text);
}

.info__tel, .info__mail {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(18 / 12);
    color: var(--contacts-grey-text);
}

.btnlocation {
    width: 160px;
    height: 45px;
    background: var(--contacts-btn-gr);
    border-radius: 22px;
    border: none;
    color: var(--contacts-white-text);

    .btn__icon {
        stroke: white;
    }
}

.btnfranchize {
    width: 160px;
    height: 45px;
    border-radius: 22px;
    border: none;
    color: var(--contacts-btn-gr);
    background-color: var(--contacts-white-text);

    .btn__icon {
        stroke: var(--contacts-btn-gr);
    }
}
