.header {
  background-color: var(--hero-bg);
}
.header-wraper {
  position: relative;
}
.logo {
  position: absolute;
  top: 6px;
  left: 20px;

  @media screen and (min-width: 480px) {
    top: 6px;
    left: 20px;
  }
  @media screen and (min-width: 768px) {
    top: 37px;
    left: 20px;
  }
  @media screen and (min-width: 1280px) {
    top: 37px;
    left: -49px;
  }
}
.nav {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    position: absolute;
    left: 242px;
    top: 52px;
    z-index: 20;
  }
}
.nav__item {
  @media screen and (min-width: 1280px) {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  color: var(--button-bg-main);
  &:hover,
  &:focus {
    color: var(--hero-red-text);
  }
}

.burger-btn-open {
  position: absolute;
  top: 25px;
  right: 20px;

  border: none;
  background-color: var(--hero-bg);

  @media screen and (min-width: 768px) {
    right: 210px;
    top: 52px;
    z-index: 30;

    border-radius: 50%;
    background-color: #ffa5ba;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.burger-btn-open__icon {
  stroke: var(--hero-red-text);
}
.buy-btn-header {
  display: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  border: none;

  background-color: #ffb8ca;
  color: var(--hero-red-text);

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 38px;
    right: 20px;
    z-index: 30;

    width: 160px;
    height: 45px;

    background: #ffffff;
    border-radius: 22px;
    &:hover,
    &:focus {
      cursor: pointer;
      background: var(--button-bg-hover);
    }
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 38px;
    right: 20px;
  }
}
.buy-btn-header__icon {
  stroke: #d41443;
  margin-left: 12px;

  @media screen and (min-width: 1280px) {
    margin-left: 14px;
  }
}
.burger-menu {
  position: fixed;
  z-index: 50;
  right: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background: var(--burger-bg);

  padding-top: 60px;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  @media screen and (min-width: 768px) {
    width: 254px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.burger-menu__top {
  display: flex;
  justify-content: center;
}
.burger-btn-close {
  position: absolute;
  top: 23px;
  right: 28px;

  background: var(--burger-bg);
  border: none;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.burger-btn-close__icon {
  stroke: #ffffff;
}
.buy-btn-burger {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  width: 209px;
  height: 44px;

  background: var(--button-bg-main);
  border-radius: 22px;
  border: none;
  color: #d41443;
  stroke: #d41443;

  margin-bottom: 19px;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--button-bg-hover);
  }
}
.buy-btn-burger__icon {
  fill: var(--hero-red-text);

  margin-left: 14px;
}
.burger-menu__item {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;

  padding-top: 12px;
  padding-bottom: 12px;
}
.burger-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  padding-left: 21px;

  color: var(--button-bg-main);
  &:hover,
  &:focus {
    color: var(--hero-red-text);
  }
}
