.hero {
  background: #ffb8ca;
  height: 502px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    height: 399px;
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
  }
}
.hero-title {
  width: 218px;

  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;

  color: #ffffff;
  @media screen and (min-width: 480px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 277px;
    font-size: 38px;
    line-height: 1.15;
    margin-bottom: 25px;
  }
}
.hero-title__accent {
  font-size: 30px;
  line-height: 1.3;
  color: #d41443;

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.89;
    text-transform: uppercase;
  }
}
.title-btn-wraper {
  position: absolute;
  top: 193px;
  left: 20px;
  z-index: 5;
  @media screen and (min-width: 768px) {
    top: 102px;
    left: 34px;
  }
  @media screen and (min-width: 1280px) {
    top: 171px;
    left: 115px;
  }
}
.hero-products-btn {
  font-size: 8px;
  line-height: 10px;

  width: 61.2px;
  height: 24px;
  margin-right: 8px;

  color: #ffffff;
  background: #d41443;
  border-radius: 20px;
  border: none;
  @media screen and (min-width: 1280px) {
    width: 102px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}
.hero-made-btn {
  font-size: 8px;
  line-height: 1.25;

  color: #d41443;

  width: 82.8px;
  height: 24px;

  border: none;
  background: #ffffff;
  border-radius: 20px;
  @media screen and (min-width: 1280px) {
    width: 138px;
    height: 40px;

    font-size: 14px;
    line-height: 1.28;
  }
}

.ice-cream-container {
  position: relative;
  width: 346px;
  height: 344px;
  top: 83px;
  left: 16px;
  border-radius: 50%;
  background-color: #ffa5ba;
  @media screen and (min-width: 768px) {
    width: 324px;
    height: 322px;
    top: 31px;
    left: 307px;
  }
  @media screen and (min-width: 1280px) {
    width: 538px;
    height: 538px;
    top: 52px;
    left: 267px;
  }
}
.ice-cream {
  position: absolute;
  top: 9px;
  left: 81px;
  @media screen and (min-width: 768px) {
    top: 32px;
    left: 71px;
  }
  @media screen and (min-width: 1280px) {
    top: 56px;
    left: 119px;
  }
}
.about-us__list {
  position: absolute;
  top: 94px;
  right: 34px;
  @media screen and (min-width: 1280px) {
    top: 160px;
    right: 115px;
  }
}
.about-us__item {
  position: relative;
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;

  margin-bottom: 13px;

  color: #d41443;
  z-index: 7;
  &:last-child {
    margin-bottom: 0;
  }
  &:after {
    display: inline-block;
    position: absolute;
    top: -2px;
    right: -10px;
    content: '';
    width: 16px;
    height: 16px;

    background: #ffffff;
    border-radius: 50%;
    z-index: -1;
  }
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
    &:after {
      top: -4px;
      right: -18px;
      width: 30px;
      height: 30px;
    }
  }
}
.about-us__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  text-align: right;

  color: #ffffff;
}
.jug-milk {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 34px;
    top: 245px;
  }
  @media screen and (min-width: 1280px) {
    left: 77px;
    top: 429px;
  }
}
.jug-milk__description {
  display: block;
  width: 114px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.5;

  margin-bottom: 8px;

  color: #ffffff;
  @media screen and (min-width: 1280px) {
    font-family: DM Sans;
    font-size: 14px;
    line-height: 1.4;

    width: 200px;
  }
}
.jug-milk__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}
.jug-milk__icon {
  fill: #d41443;
}
.img-container {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 266px;
    right: 34px;
  }
  @media screen and (min-width: 1280px) {
    top: 433px;
    right: 109px;
  }
}
