.products {
    padding-top: 121px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 98px;
}

.products-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.products__text {
    position: relative;
    text-align: center;
    font-family: Titan One, serif;
    font-size: 18px;
    line-height: calc(21 / 18);
    margin-bottom: 15px;
    color: var(--products-pink-text);
}

.products__title {
    font-family: Titan One, serif;
    font-size: 34px;
    line-height: calc(39 / 34);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--products-red-text);
    margin-bottom: 144px;
}

// _______________________Карточка продукта________________
.products {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 280px;
        border-radius: 24px;
        padding-top: 161px;
        padding-bottom: 41px;
        margin-bottom: 130px;
        position: relative;

        &:nth-child(1) {
            background-color: var(--products-pink-text);
        }

        &:nth-child(2) {
            background-color: #F0D1A5;
        }

        &:nth-child(3) {
            background-color: #C2E297;
        }

        &:nth-child(1)::before {
            content: "";
            position: absolute;
            top: -115px;
            width: 249px;
            height: 252px;
            background-image: url("../images/products/prod1-mob-1x.png");
            background-size: 249px 252px;

            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                background-image: url("../images/products/prod1-mob-2x.png");
            }
        }

        &:nth-child(2)::before {
            content: "";
            display: block;
            position: absolute;
            top: -115px;
            width: 249px;
            height: 252px;
            background-image: url("../images/products/prod2-mob-1x.png");
            background-size: 249px 252px;

            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                background-image: url("../images/products/prod2-mob-2x.png");
            }
        }

        &:nth-child(3)::before {
            content: "";
            display: block;
            position: absolute;
            top: -115px;
            width: 249px;
            height: 252px;
            background-image: url("../images/products/prod3-mob-1x.png");
            background-size: 249px 252px;

            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                background-image: url("../images/products/prod3-mob-2x.png");
            }
        }

        &:nth-child(3) {
            margin-bottom: 0px;
        }

        .item__title {
            font-family: Titan One;
            font-size: 20px;
            line-height: calc(23 / 20);
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: var(--products-white-text);
            margin-bottom: 30px;
        }
    }
}

.products {
    .item__point {
        position: relative;
        width: 6px;
        height: 6px;
        background-color: var(--products-white-text);
        border-radius: 50%;
        margin-bottom: 30px;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: -10px;
            background-color: inherit;
            border-radius: 50%;
        }

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 10px;
            background-color: inherit;
            border-radius: 50%;
        }
    }
}

.item__text {
    height: 125px;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 14);
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--products-white-text);
    position: relative;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--products-white-text);
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: hidden;
    }
}

// ____________________________BTN PRODUCTS__________________
.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--products-white-text);
    border-style: none;
    cursor: pointer;

    &:focus {
        background-color: var(--products-red-text);

        .btn__icon {
            fill: var(--products-white-text);
        }
    }
}

.btn__icon {
    fill: var(--products-red-text);
}

//________________________________медиа правила для PAD____________

@media screen and (min-width: 768px) {
    .btn:hover {
        background-color: var(--products-red-text);

        .btn__icon {
            fill: var(--products-white-text);
        }
    }

    .products__title {
        font-size: 48px;
        line-height: calc(55 / 48);
        margin-bottom: 150px;
    }

    .products__list {
        display: flex;
    }

    .products__text {
        font-size: 26px;
        line-height: calc(30 / 26);
    }

    .products {
        padding-top: 122px;
        padding-bottom: 112px;

        .item__text {
            margin-bottom: 40px;
            padding-left: 11px;
            padding-right: 11px;
        }

        .item {
            min-width: auto;
            width: 220px;
            margin-right: 20px;
            margin-bottom: auto;
            padding-top: 152px;
            padding-bottom: 40px;

            &:nth-child(1)::before {
                content: "";
                position: absolute;
                top: -115px;
                width: 249px;
                height: 252px;
                background-image: url("../images/products/prod1-tab-1x.png");
                background-size: 249px 252px;

                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url("../images/products/prod1-tab-2x.png");
                }
            }

            &:nth-child(2)::before {
                content: "";
                display: block;
                position: absolute;
                top: -115px;
                width: 249px;
                height: 252px;
                background-image: url("../images/products/prod2-tab-1x.png");
                background-size: 249px 252px;

                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url("../images/products/prod2-tab-2x.png");
                }
            }

            &:nth-child(3) {
                margin-right: 0px;
            }

            &:nth-child(3)::before {
                content: "";
                display: block;
                position: absolute;
                top: -115px;
                width: 249px;
                height: 252px;
                background-image: url("../images/products/prod3-tab-1x.png");
                background-size: 249px 252px;

                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url("../images/products/prod3-tab-2x.png");
                }
            }
        }
    }
}

// _______________Медиа правила для DESKTOP________________
@media screen and (min-width: 1280px) {
    .products {
        padding-top: 127px;
        padding-bottom: 119px;
    }

    .products__title {
        font-size: 58px;
        line-height: calc(66 / 58) 66px;
        letter-spacing: 0.06em;
        margin-bottom: 260px;
    }

    .products__text {
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.04em;
    }

    .products {
        .item__title {
            font-size: 30px;
            line-height: calc(34 / 30);
            margin-bottom: 32px;
        }

        .item__text {
            margin-bottom: 62px;
            padding-left: 44px;
            padding-right: 44px;
        }

        .item__point {
            margin-bottom: 32px;
        }

        .item {
            min-width: auto;
            width: 330px;
            margin-right: 30px;
            margin-bottom: auto;
            padding-top: 163px;
            padding-bottom: 50px;

            &:nth-child(1)::before {
                content: "";
                position: absolute;
                top: -150px;
                width: 249px;
                height: 252px;
                background-image: url("../images/products/prod1-desk-1x.png");
                background-size: 249px 252px;

                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url("../images/products/prod1-desk-2x.png");
                }
            }

            &:nth-child(2)::before {
                content: "";
                display: block;
                position: absolute;
                top: -150px;
                width: 249px;
                height: 252px;
                background-image: url("../images/products/prod2-desk-1x.png");
                background-size: 249px 252px;

                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url("../images/products/prod2-desk-2x.png");
                }
            }

            &:nth-child(3) {
                margin-right: 0px;
            }

            &:nth-child(3)::before {
                content: "";
                display: block;
                position: absolute;
                top: -150px;
                width: 249px;
                height: 252px;
                background-image: url("../images/products/prod3-desk-1x.png");
                background-size: 249px 252px;

                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url("../images/products/prod3-desk-2x.png");
                }
            }
        }
    }
    .item__text {
        height: 125px;
        margin-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
        font-family: DM Sans;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(21 / 14);
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--products-white-text);
        position: relative;
        overflow: scroll;
        overflow-x: hidden;

        @media screen and (min-width: 768px) {
            margin-bottom: 40px;
            padding-left: 11px;
            padding-right: 11px;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 62px;
            padding-left: 44px;
            padding-right: 44px;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: var(--products-white-text);
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: hidden;
        }
    }
}

.products {
    .item__point {
        position: relative;
        width: 6px;
        height: 6px;
        background-color: var(--products-white-text);
        border-radius: 50%;
        margin-bottom: 30px;

        @media screen and (min-width: 1280px) {
            margin-bottom: 32px;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: -10px;
            background-color: inherit;
            border-radius: 50%;
        }

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 10px;
            background-color: inherit;
            border-radius: 50%;
        }
    }
}

// ____________________________BTN PRODUCTS__________________
.products {
    .btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--products-white-text);
        border-style: none;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            &:hover {
                background-color: var(--products-red-text);

                .btn__icon {
                    fill: var(--products-white-text);
                }
            }
        }

        &:focus {
            background-color: var(--products-red-text);

            .btn__icon {
                fill: var(--products-white-text);
            }
        }
    }

    .btn__icon {
        fill: var(--products-red-text);
    }
}
